{{> head }}
    <body>
        {{> nav}}
        <main>
            <h1>Login</h1>
        </main>
        <div class="content-panel">
            <form method="post" action="/login">
                <p>
                    <label class="form-label" for="username">Login</label>
                    <input type="text" id="username" name="username"></input>
                </p>
                <p>
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password"></input>
                </p>
                <p>
                    <input type="submit" value="Login"></input>
                </p>
            </form>
        </div>
    </body>
</html>